:root {
    --tinta-negra: #39342c;
    --tinta-roja:  #a43200;
    --tinta-rosa:  #a3487a;
    --tinta-oro:   #fbe8b0;
}

html {
    color: var(--tinta-negra);
    text-shadow: 0px 0px 2px #222222;
    box-shadow: inset 0px 0px 100px 50px #c37921;
    background: linear-gradient(-45deg, #E0C9A6, #cb8a30, #ead9ad);
    background-size: 400% 400%;
    /* animation: gradient 15s ease infinite; */
}

@keyframes gradient {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    font-family: cursive;
    text-align: center;
    position: sticky;
    top:0;
}

footer {
    position: sticky;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    columns: 2;
    column-gap: 40px;
    list-style: upper-roman outside;
    margin-left: 1em;
}

h1, h2, h3 { font-family: cursive}
h1::first-letter, h2::first-letter, h3::first-letter {
    font-family: cursive;
    font-size: 200%;
    text-shadow: 0px 0px 5px var(--tinta-oro);
    color: var(--tinta-roja);
}
.terminal { font-family: monospace; }

a { text-decoration: none;  }
a:link    { color: #164a88; text-shadow: 0px 0px 1px #6981a2;}
a:visited { color: #684d5e; }
a:hover   { color: #5c62c2; text-shadow: 0px 0px 5px #fbe8b0;}
a:active  { color: #7f657e; }
::selection {
    color: #186549;
    background: var(--tinta-oro);
}
