/** Title */
/* Make title non-editable */
#main-container .page-title { pointer-events: none; }

/** Hide useless sidebar stuff */
.nav-header .flashcards-nav { display: none; }
.nav-header .journals-nav { display: none; }

/** All pages */
/* Hide selection checkbox (nothing can be done with it) */
.cp__all_pages table .selector { display: none; }
/* Hide more columns (not that they don't work, they just don't seem very useful) */
.cp__all_pages table .backlinks { display: none; }
.cp__all_pages table .created-at { display: none; }
/* Hide delete button */
.cp__all_pages .actions .actions-wrap { display: none; }
/* Hide more page modification options/things that don't work */
.cp__all_pages .actions div.r { display: none; }
/* Fix search bar spacing */
.cp__all_pages .actions .search-wrap { margin-left: 0; padding-left: 0; }


/** Hide graph settings (they're ineffective, only the desktop app's while exporting seem to matter, search doesn't work either) */
.graph-filters { display: none; }

/** Remove superfluous spacing on block embeds in Firefox */
.block-content.inline { white-space: revert; }
